target
*.iml
*.sh
.coverage
.DS_Store
.idea
Test.scala
scalastyle_config.xml
scalastyle-output.xml
DefaultModelRegistry/
*.png
__pycache__/
.ipynb_checkpoints/
lolopy.egg-info/
foobar
python/build/
python/lolopy/jar/
